<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharekit.smartkit">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

    </application>
    <activity
        android:name="com.tencent.connect.util.AuthActivity"
        android:noHistory="true"
        android:launchMode="singleTask">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="tencent100537558" />
        </intent-filter>
    </activity>
</manifest>
